<form method="post">
    <h1>{{product.title}}</h1>
    <h3>Enrollment Details:</h3>
    
    <div class="mb-3">
        <label class="form-label">Quantity:</label>
        <input type="number" class="form-control" id="qountety" name="qountety" required>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Select Date:</label>
        <input type="date" class="form-control" id="date" name="date" required>
    </div>
    
    <button type="submit" class="btn btn-success">Confirm Enrollment</button>
</form>