<div class="dropdown text-end">
    {% if current_user.is_authenticated %}
        <a href="#">
            <img src="{{ current_user.profile_url if current_user.profile_url else url_for('static', filename='default_avatar.png') }}" 
                 width="32" height="32" class="rounded-circle">
        </a>
        <span class="text-white ms-2">
            {% if current_user.is_admin %} Admin {% else %} {{ current_user.username }} {% endif %}
        </span>
        <!-- აქ მოდის შენი dropdown მენიუ... -->
    {% endif %}

    <ul class="dropdown-menu text-small">
        <li>
            <a class="dropdown-item" href="/settings">Settings</a>
        </li>
        <li>
            <a class="dropdown-item" href="/profile">Profile</a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item" href="/logout">Sign out</a>
        </li>
    </ul>
</div>