{% extends 'base.html' %}
{% block content %}
<div class="container d-flex align-items-center py-4 bg-body-tertiary justify-content-center">
    <main class="form-signin w-100 m-auto">
        <form style="max-width: 600px; margin:30px" method="post">
            <h1 class="h3 mb-3 fw-normal">Sign in to ChessLand</h1>
    
            <!-- ემეილის ველი (ეს სწორია) -->
            <div class="form-floating">
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                <label for="email">Email address</label>
            </div>
    
            <!-- პაროლის ველი (აქ ვასწორებთ, რომ იყოს password) -->
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                <label for="password">Password</label> <!-- აქ უნდა ეწეროს Password -->
            </div>
    
            <button class="btn btn-primary w-100 py-2 mt-3" type="submit">Sign in</button>
        </form>
    </main>
</div>
{% endblock %}